<div id="menu">
  <ul>
      <li><a href="/users/show_profile/<%=user.id%>" >My Profile</a></li>
      <li><a href="/users/wall/<%=user.id%>" title="">My Wall</a></li>
      <li><a href="/photos/index/<%=user.id%>" title="">My Photos</a></li>
      <li><a href="/users/friends/<%=user.id%>" title="">My Friends</a></li>
      <li><a href="/users/news_feed/<%=user.id%>" title="">My Home</a></li>
  </ul>
</div>
