<div id="header">
</div>
     
  <div id= "left_col" style="float:left; margin-left:20px;">
    <%= render :partial => "users/profile_pic", :locals => {:user=>@user} %>
    <br/><br/><br/>
    <h3><%= link_to @user.first_name , :controller => "users", :action=> "view_other_profile", :id => @user.id%></h3>
    <%= link_to "Lists", :controller => "users", :action => "lists", :id => @user.id %>

  </div>

<div id="page_content" >
   <div id="heading" style=" margin-left:50px"><h1>
      <%= "Lists " %></h1>

          <% @user.lists.each do |list| %>
          <h3><%= link_to list.name , :controller => "users",:action=> "show_list", :id => list.id%></h3>

          <br />
          <hr />
          <%end%>
   </div>
</div>

<div id="footer"></div>
